services:
    backend:
        build:
            context: ./backend
            dockerfile: Dockerfile
        container_name: laravel_backend
        restart: unless-stopped
        working_dir: /var/www/html
        volumes:
            - ./backend:/var/www/html
            - ./backend/docker/php/local.ini:/usr/local/etc/php/conf.d/local.ini
        networks:
            - app-network
        depends_on:
            - mysql
            - redis
        user: root
        extra_hosts:
            - "host.docker.internal:host-gateway"
        environment:
            - XDEBUG_MODE=develop,debug
            - XDEBUG_CONFIG=client_host=host.docker.internal client_port=9003

    frontend:
        build:
            context: ./frontend
            dockerfile: Dockerfile
        container_name: laravel_frontend
        restart: unless-stopped
        working_dir: /app
        volumes:
            - ./frontend:/app
            - /app/node_modules
        networks:
            - app-network
        ports:
            - "5173:5173"
        environment:
            - NODE_ENV=development

    nginx:
        image: nginx:alpine
        container_name: laravel_nginx
        restart: unless-stopped
        ports:
            - "8000:80"
        volumes:
            - ./backend:/var/www/html
            - ./backend/docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
        networks:
            - app-network
        depends_on:
            - backend
            - frontend

    mysql:
        image: mysql:8.0
        container_name: laravel_mysql
        restart: unless-stopped
        environment:
            MYSQL_DATABASE: laravel
            MYSQL_ROOT_PASSWORD: root
            MYSQL_PASSWORD: root
            MYSQL_USER: laravel
            SERVICE_TAGS: dev
            SERVICE_NAME: mysql
        volumes:
            - mysql_data:/var/lib/mysql
        ports:
            - "3306:3306"
        networks:
            - app-network

    redis:
        image: redis:alpine
        container_name: laravel_redis
        restart: unless-stopped
        ports:
            - "6379:6379"
        networks:
            - app-network

networks:
    app-network:
        driver: bridge

volumes:
    mysql_data:
        driver: local
